*{
    margin: 0;
    padding: 0;
}
h1{
    font: bold 26px Tahoma;
}
h2{
    font: bold 20px Tahoma;
}

body{
    display: -webkit-box;
    -webkit-box-pack:center;
    width: 100%;
}
#main_body{
    max-width: 1000px;
    display: -webkit-box;
    -webkit-box-orient:vertical;
    -webkit-box-flex:1;
}
header{
    border: 2px solid black;
    background-color: #47b6ff;
    text-align: center;
    padding: 30px;
}
nav{
    background-color: #41f2ff;
}
nav li{
    display: inline-block;
    padding: 10px;
    color: white;
}
#main_tag{
    display: -webkit-box;
    -webkit-box-orient:horizontal;
}
#main_tag article{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}
#main_section{
    -webkit-box-flex:1;
    margin: 10px;
    padding:10px;
}
aside{
    width: 220px;
    /*-webkit-box-flex:1;*/
    padding: 10px;
    margin: 20px 0px;
    background-color: #f0deff;
}
#main_footer{
    clear:both;
    padding: 20px;
    border-top: 2px solid blue;
    text-align: center;
}






