*{
    margin: 0;
    padding: 0;
}
h1{
   font: bold 26px Tahoma;
}
h2{
   font: bold 20px Tahoma;
}
body{

}
#main_body{
    width: 1000px;
    border: 1px solid black;
    margin: 0 auto;
}
#main_body header {
    text-align: center;
    padding: 20px;
    background-color: deepskyblue;
}
#main_body nav{
 background-color: aqua;
}
#main_body nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px;
    padding-left: 0;
}
#main_body nav ul li a{
    text-decoration: none;
}
#main_body nav ul li a:hover{
    background-color: white;
    padding: 10px;
}
#main_body #main_section{
  width: 660px;
    margin: 20px;
    display: inline-block;
}
#main_body #main_section article{
    margin: 10px ;
    padding: 10px;
    border: 1px solid black;
    background-color: #b09b93;
}
#main_body #main_section article footer{
    text-align: right;
    -webkit-box-flex: 1;
}

#main_body aside{
    float: right;
    width: 240px;
    margin: 30px 10px;
    padding: 20px;
    background-color: aqua;

}
#main_body #main_footer{
    clear: both;
    padding: 20px;
    border-top: 2px solid deepskyblue;
    text-align: center;
}