body{
    width: 100%;
}
.main_box{
    margin: 100px auto;
    display: -webkit-box;
    display: -moz-box;
    display: -o-flex;
    height: 200px;
    padding: 10px;
    max-width: 1000px;
    background-color: aquamarine;
    -webkit-box-align: center;
    -webkit-box-orient: horizontal;
    /*-webkit-box-direction: reverse;*/

}
.box1{
    padding: 20px;
    margin: 10px;
    background-color: deepskyblue;
    -webkit-box-flex: 2;
    -moz-box-flex: 1;
    -webkit-box-ordinal-group: 2;

}
.box2{
    padding: 20px;
    margin: 10px;
    background-color: deepskyblue;
    -webkit-box-flex: 4;
    -webkit-box-ordinal-group: 4;

}
.box3{
    padding: 20px;
    margin: 10px;
    background-color: deepskyblue;
    -webkit-box-flex: 1;
    -webkit-box-ordinal-group: 1;

}
.box4{
    padding: 20px;
    margin: 10px;
    background-color: deepskyblue;
    -webkit-box-flex: 5;
    -webkit-box-ordinal-group: 3;

}
#animation{
    margin-left: 300px;
    width: 400px;
    height: 200px;
    background-color: #b09b93;
    border-radius: 20px;
    box-shadow: rgba(0,0,0,1) 10px 10px 10px;
    text-shadow: rgb(173, 75, 75) 10px 10px 10px;
    /*transition:all 2s;*/
    /*transition:transform 2s,width 2s,background-color 2s;*/
}

/*#animation:hover{*/
    /*transform: scale(2) rotate(360deg) ;*/
    /*width: 250px;*/
    /*background-color: #f0deff;*/
/*}*/
