body{
    width: 100%;
}
.main_box{
    margin: 100px auto;
    display: -webkit-bo2x;
    display: -moz-box;
    display: -o-flex;
    padding: 10px;
    max-width: 1000px;
    background-color: aquamarine;
    /*-webkit-box-align: start;*/
    /*-webkit-box-orient: vertical;*/
}
.box1{
    padding: 20px;
    margin: 10px;
    background-color: deepskyblue;
    -webkit-box-flex: 2;
    -moz-box-flex: 1;

}
.box2{
    padding: 20px;
    margin: 10px;
    background-color: deepskyblue;
    -webkit-box-flex: 4;

}
.box3{
    padding: 20px;
    margin: 10px;
    background-color: deepskyblue;
    -webkit-box-flex: 1;

}
.box4{
    padding: 20px;
    margin: 10px;
    background-color: deepskyblue;
    -webkit-box-flex: 5;
}